<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Class - NexGym</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/images/icono.ico" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../static/styles/classCSS.css" />
    <link rel="stylesheet" href="../static/styles/headerCSS.css" />
    <link rel="stylesheet" href="../static/styles/footerCSS.css" />


</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="../static/assets/images/Without_back_logo.png"
                alt="Nexgym" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sessions">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#comments">Comments</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="section-container">
        <h2 class="section-title">Edit your review:</h2>
        <div class="comment-form-wrapper">
            <form class="comment-form" method="post" action="./class.html">
                <div class="form-group">
                    <label for="userRating">Rating</label>
                    <select class="form-control" id="userRating" required>
                        <option value="5">★★★★★ Excellent</option>
                        <option value="4">★★★★☆ Good</option>
                        <option value="3">★★★☆☆ Average</option>
                        <option value="2">★★☆☆☆ Fair</option>
                        <option value="1">★☆☆☆☆ Poor</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="userComment">Comment</label>
                    <textarea class="form-control" id="userComment" rows="5"
                        required> After my first session I was so tired I thought I would need to
                find another class, but after 3 months of training this class
                feels easy. Totally recommended! </textarea>
                </div>

                <button type="submit" class="btn btn-submit">
                    Submit Comment
                </button>
            </form>
        </div>
    </div>
</main>
<footer class="footer py-0 bg-black text-white border-top border-dark">
    <div class="container-fluid px-md-5">
        <div class="row align-items-center m-0 g-0" style="min-height: 50px">
            <div class="col-lg-3 text-center text-lg-start py-1">
                <img src="../static/assets/images/Without_back_logo.png" alt="NexGym Logo" class="footer-logo-img"
                    onclick="window.location='index.html'" />
                <span class="social-links ms-2">
                    <a href="#" class="text-light me-2 small" onclick="window.location='https://www.instagram.com'"><i
                            class="bi bi-instagram"></i></a>
                    <a href="#" class="text-light me-2 small" onclick="window.location='https://twitter.com'"><i
                            class="bi bi-twitter-x"></i></a>
                    <a href="#" class="text-light me-2 small" onclick="window.location='https://www.facebook.com'"><i
                            class="bi bi-facebook"></i></a>
                </span>
            </div>

            <div class="col-lg-6 py-1">
                <div class="d-flex justify-content-center flex-wrap footer-links">
                    <a href="#faq" class="mx-2 my-0 small text-decoration-none">FAQ</a>
                    <a href="#contact" class="mx-2 my-0 small text-decoration-none">Contact</a>
                    <a href="#privacy" class="mx-2 my-0 small text-decoration-none">Privacy</a>
                    <a href="#terms" class="mx-2 my-0 small text-decoration-none">Terms</a>
                </div>
            </div>

            <div class="col-lg-3 text-center text-lg-end py-1">
                <p class="text-light mb-0" style="font-size: 0.7rem">
                    © 2026 NEXGYM.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>