<!doctype html>
<html lang="en">
  <head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/assets/images/icono.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/styles/errorCSS.css" />
    <link rel="stylesheet" href="../static/styles/footerCSS.css" />
    <link rel="stylesheet" href="../static/styles/headerCSS.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="error-page">
    <!-- Navigation-->
    <body class="page">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">
          <img src="../static/assets/images/Without_back_logo.png" alt="Logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="profileAdmin.html">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="error-content">
      <h1>ERROR!</h1>
      <h2>Code: 404</h2>

      <a class="btn btn-primary btn-lg" href="./index.html" role="button">
        Back to the home page »
      </a>
    </div>
    <!-- Footer-->
    <footer class="footer py-0 bg-black text-white border-top border-dark">
      <div class="container-fluid px-md-5">
        <div class="row align-items-center m-0 g-0" style="min-height: 50px">
          <div class="col-lg-3 text-center text-lg-start py-1">
            <img
              src="../static/assets/images/Without_back_logo.png"
              alt="NexGym Logo"
              class="footer-logo-img"
              style="height: 50px" />
            <span class="social-links ms-2">
              <a
                href="#"
                class="text-light me-2 small"
                onclick="window.location"
                ="https://www.instagram.com"
                ><i class="bi bi-instagram"></i
              ></a>
              <a
                href="#"
                class="text-light me-2 small"
                onclick="window.location"
                ="https://twitter.com"
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a
                href="#"
                class="text-light me-2 small"
                onclick="window.location"
                ="https://www.facebook.com"
                ><i class="bi bi-facebook"></i
              ></a>
            </span>
          </div>

          <div class="col-lg-6 py-1">
            <div class="d-flex justify-content-center flex-wrap footer-links">
              <a href="#faq" class="mx-2 my-0 small text-decoration-none"
                >FAQ</a
              >
              <a href="#contact" class="mx-2 my-0 small text-decoration-none"
                >Contact</a
              >
              <a href="#privacy" class="mx-2 my-0 small text-decoration-none"
                >Privacy</a
              >
              <a href="#terms" class="mx-2 my-0 small text-decoration-none"
                >Terms</a
              >
            </div>
          </div>

          <div class="col-lg-3 text-center text-lg-end py-1">
            <p class="text-light mb-0" style="font-size: 0.7rem">
              © 2026 NEXGYM.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  </body>
</html>
