<footer class="footer py-0 bg-black text-white border-top border-dark">
  <div class="container-fluid px-md-5">
    <div class="row align-items-center m-0 g-0" style="min-height: 50px">
      <div class="col-lg-3 text-center text-lg-start py-1">
        <img
          src="../static/assets/images/Without_back_logo.png"
          alt="NexGym Logo"
          class="footer-logo-img"
          onclick="window.location='index.html'"
          />
        <span class="social-links ms-2">
              <a href="#" class="text-light me-2 small" onclick=window.location='https://www.instagram.com'
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="#" class="text-light me-2 small" onclick=window.location='https://twitter.com'
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a href="#" class="text-light me-2 small" onclick=window.location='https://www.facebook.com'
                ><i class="bi bi-facebook"></i
              ></a>
            </span>
      </div>

      <div class="col-lg-6 py-1">
        <div class="d-flex justify-content-center flex-wrap footer-links">
          <a href="#faq" class="mx-2 my-0 small text-decoration-none">FAQ</a>
          <a href="#contact" class="mx-2 my-0 small text-decoration-none"
            >Contact</a
          >
          <a href="#privacy" class="mx-2 my-0 small text-decoration-none"
            >Privacy</a
          >
          <a href="#terms" class="mx-2 my-0 small text-decoration-none"
            >Terms</a
          >
        </div>
      </div>

      <div class="col-lg-3 text-center text-lg-end py-1">
        <p class="text-light mb-0" style="font-size: 0.7rem">© 2026 NEXGYM.</p>
      </div>
    </div>
  </div>
</footer>
